---
http_interactions:
- request:
    method: get
    uri: https://api.cuentica.com/expense?provider=348489
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - MGYO_Mvtupqz7zOQ5GtrItvLNpccC83muYXQMnvjzAjStB.p89FLn4--F0UCE55HPCyM6Wm8f5SMUzhq
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1'
      X-Ratelimit-Reset:
      - '1509699900'
      X-Pagination-Pagesize:
      - '300'
      X-Ratelimit-Remaining:
      - '749'
      X-Pagination-Currentpage:
      - '1'
      X-Pagination-Totalelements:
      - '7'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":861790,"date":"2017-12-12","draft":false,"provider":{"id":348489,"cif":"12345678Z","tradename":"Pepito
        perez","business_type":"company","business_name":"Pepito perez","address":"rue
        del percebe 13","postal_code":"50001","town":"Zaragoza","region":"Zaragoza","country_code":"ES","phone":"","email":"","web":"","fax":"","personal_comment":"password","default_expense_type":"600","default_retention":0},"document_type":"invoice","document_number":"cuatroaaa","annotations":"","expense_details":{"base":100,"vat":21,"retention":15,"surcharge":0,"total_expense":106,"paid":0,"left":106},"expense_lines":[{"id":1097400,"draft":false,"investment":false,"description":"test","base":100,"vat":21,"vat_amount":21,"surcharge":0,"surcharge_amount":0,"retention":15,"imputation":100,"expense_type":"623"}],"has_attachment":true},{"id":861855,"date":"2017-12-12","draft":false,"provider":{"id":348489,"cif":"12345678Z","tradename":"Pepito
        perez","business_type":"company","business_name":"Pepito perez","address":"rue
        del percebe 13","postal_code":"50001","town":"Zaragoza","region":"Zaragoza","country_code":"ES","phone":"","email":"","web":"","fax":"","personal_comment":"password","default_expense_type":"600","default_retention":0},"document_type":"invoice","document_number":"cuatroaaa","annotations":""[...]
