---
http_interactions:
- request:
    method: get
    uri: https://api.cuentica.com/expense?provider=348489&sort=date:desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Token:
      - MGYO_Mvtupqz7zOQ5GtrItvLNpccC83muYXQMnvjzAjStB.p89FLn4--F0UCE55HPCyM6Wm8f5SMUzhq
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '1'
      X-Ratelimit-Reset:
      - '1516906800'
      X-Pagination-Pagesize:
      - '300'
      X-Ratelimit-Remaining:
      - '749'
      X-Pagination-Currentpage:
      - '1'
      X-Pagination-Totalelements:
      - '75'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":895333,"date":"2023-05-11","draft":false,"provider":{"id":348489,"cif":"12345678Z","tradename":"Pepito
        perez","business_type":"company","business_name":"Pepito perez","address":"rue
        del percebe 13","postal_code":"50001","town":"Zaragoza","region":"Zaragoza","country_code":"ES","phone":"","email":"","web":"","fax":"","personal_comment":"password","default_expense_type":"600","default_retention":0},"document_type":"invoice","document_number":"17/2017","annotations":"","expense_details":{"base":100,"vat":21,"retention":15,"surcharge":0,"total_expense":106,"paid":0,"left":106},"expense_lines":[{"id":1144798,"draft":false,"investment":false,"description":"a
        expense","base":100,"vat":21,"vat_amount":21,"surcharge":0,"surcharge_amount":0,"retention":15,"imputation":100,"expense_type":"6230005"}],"has_attachment":false},{"id":895284,"date":"2023-05-11","draft":false,"provider":{"id":348489,"cif":"12345678Z","tradename":"Pepito
        perez","business_type":"company","business_name":"Pepito perez","address":"rue
        del percebe 13","postal_code":"50001","town":"Zaragoza","region":"Zaragoza","country_code":"ES","phone":"","email":"","web":"","fax":"","personal_comment":"password","default_expense_type":"600","default_retention":0},"document_type":"invoice","document_number":"17/2017","annotations":"",[...]
