---
http_interactions:
- request:
    method: post
    uri: https://api.cuentica.com/expense
    body:
      encoding: UTF-8
      string: '{"document_type":"invoice","draft":false,"document_number":"foo","date":"2017-07-05","provider":null,"expense_lines":[{"description":"a
        expense","base":1000,"vat":21,"retention":15,"expense_type":"6230005","investment":false,"imputation":100}],"payments":[{"date":"2017-07-05","amount":1060,"payment_method":"wire_transfer","paid":false,"origin_account":37207}],"attachment":null}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - MGYO_Mvtupqz7zOQ5GtrItvLNpccC83muYXQMnvjzAjStB.p89FLn4--F0UCE55HPCyM6Wm8f5SMUzhq
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Ratelimit-Limit:
      - '2'
      X-Ratelimit-Reset:
      - '1516908000'
      X-Ratelimit-Remaining:
      - '748'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Invalid request body"}'
  recorded_at: Thu, 25 Jan 2018 19:19:34 GMT
recorded_with: VCR 3.0.3
