<span class="logo"><a href="/">Invoice_Me</a></span>
<nav class="page-menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/new">Nueva factura</a></li>
    <li><a href="/logout">Salir</a></li>
  </ul>
</nav>
