<html>
  <head>
    <title>Invoice_Me</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/new">Nueva factura</a></li>
        <li><a href="#">Salir</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
