<html>
  <head>
    <title>Entra a registrar tus facturas</title>
  </head>
  <body>
    <h1>Entra a registrar tus facturas</h1>
    <form method="POST">
      <label>Usuario<input type="text" name="user"/></label>
      <br>
      <label>Contraseña<input type="password" name="password"/></label>
      <br>
      <input type="submit" value="Entrar">
    </form>
  </body>
</html>
