@import "normalize.css";


/*******************
FUNCTIONS AND MIXINS
********************/
$normal_font_size: 16;

@function to_rem($size) {
  $remSize: $size / $normal_font_size;
  @return #{$remSize}rem;
}

/********************
 VARIABLES AND COLORS
*********************/
$font_family: "Inconsolata", sans-serif;
$font_logo: "VT323", monospace;

$font_light: 300;
$font_normal: 400;
$font_bold: 700;

$text_color: #000;
$grey: #888;
$grey_light: #ccc;
$red: #BB1A28;
$orange: #CD631F;
$green: #1BB32C;
$violet: #CC2377;


/******************
 RESET AND DEFAULTS
*******************/
html{
  margin: 0;
  padding: 0;
  background-color: #fff;
}//html

textarea{
  resize: vertical;
}

*, html, body, input, textarea, button, a, i{
  box-sizing: border-box;
  font-family: $font_family;
}
body{
  position: relative;
  min-height: 100%;
  font-size: 100%;
  font-size: 16px;
  font-family: $font_family;
  font-weight: $font_normal;

  line-height: 20px;
  height: 100%;
  color: $text_color;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

a{
  text-decoration: none;
  outline: none;
  transition: all 0.1s ease-in-out;
  &:hover{
    text-decoration: none;
  }
}//a

a.button.primary, input.button.primary, button.button.primary{
  display: inline-block;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border-radius: 30px;
  letter-spacing: 2px;
  font-size: to_rem(20);
  font-weight: $font_bold;
  background-color: $violet;
  padding: 18px 100px 16px 100px;
  border: 2px solid transparent;
  cursor: pointer;
  &:hover{
    color: $violet;
    background-color: #fff;
    border-color: $violet;
  }
}//a.button.primary

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}//ul

.wrapper{
  width: 1200px;
  max-width: 92%;
  margin: 0 auto;
}//.wrapper

label{
  font-weight: $font_bold;
  display: inline-block;
  margin-bottom: 5px;
  cursor: pointer;
}
input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="date"]{
  width: 100%;
  padding: 15px 20px;
  font-family: $font_family;
  border: 1px solid $grey;
  outline: none;
}

.page-wrapper{

}//.page-wrapper

.page-header{
  background-color: $text_color;
  color: #fff;
  padding: 25px 0px;
  text-align: center;
  position: relative;
  .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
  }
  &:before, &:after{
    display: block;
    content: "";
    width: 50%;
    height: 5px;
    position: absolute;
    bottom: 0px;
  }
  &:before{
    left: 0px;
    background: linear-gradient(90deg, $red 0%, $red 50%, $green 50%, $green 100%);
  }
  &:after{
    right: 0px;
    background: linear-gradient(90deg, $orange 0%, $orange 50%, $violet 50%, $violet 100%);
  }
  span.logo{
    display: inline-block;
    font-family: $font_logo;
    font-size: to_rem(75);
    a{
      display: inline-block;
      font-family: $font_logo;
      font-size: to_rem(40);
      color: #fff;
      text-decoration: none;
      letter-spacing: 1px;
    }
  }//span.logo
  .page-menu{
    text-align: right;
    display: inline-block;
    ul{
      margin: 10px 0px 0px 0px;
      padding: 0;
      display: inline-block;
      list-style: none;
      li{
        display: inline-block;
        margin-left: 25px;
        text-transform: uppercase;
        font-weight: $font_bold;
        a{
          color: #fff;
          background-color: $violet;
          text-decoration: none;
          padding: 4px 10px;
          &:hover{
            color: $violet;
            background-color: #fff;
          }
        }//a
      }//li
    }//ul
  }//.page-menu
}//.page-header

.page-content{
  padding: 30px 0px 60px 0px;
  h1{
    margin: 0px 0px 40px 0px;
    padding: 0;
    font-size: to_rem(40);
    font-weight: $font_bold;
    display: inline-block;
  }//h1
  .page-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
    h1{
      margin-top: 40px;
    }
  }//.page-title
  .login-form{
    width: 50%;
    margin: 0 auto;
    text-align: left;
    p.submit{
      margin-top: 20px;
    }
  }//.login-form
  .invoices-list{
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        display: block;
        position: relative;
        border-bottom: 1px solid $grey;
        padding: 20px 0px;
        font-size: to_rem(18);
        &:last-child{
          border-bottom: none;
        }
        span.invoice-date, span.invoice-number, span.invoice-total{
          font-weight: $font_bold;
        }
        span.invoice-date{
          display: inline-block;
          width: 120px;
        }
        ul{
          li{
            border: none;
            padding: 0px 0px 0px 50px;
            margin: 5px 0px 5px 130px;
            position: relative;
            &:before{
              display: block;
              content: "";
              width: 30px;
              height: 1px;
              position: absolute;
              top: 10px;
              left: 0px;
              background-color: $grey_light;
            }
            &:last-child{
              margin-bottom: 0px;
            }
            span.description{
              font-weight: $font_bold;
            }
            .more-info{
              font-size: to_rem(14);
              margin-top: 5px;
            }
          }//li
        }//ul
      }//li
      a.download{
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0px;
        font-weight: $font_bold;
        color: $violet;
        font-weight: $font_bold;
        text-decoration: none;
        padding: 4px 10px;
        background-color: transparent;
        &:hover{
          background-color: $violet;
          color: #fff;
        }
      }
    }//ul
  }//.invoices-list
  .invoice-metadata{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    p{
      display: inline-block;
      width: 30%;
      input[type="file"]{
        margin-top: 12px;
      }
    }
  }//.invoice-metadata
  ul.invoice-lines{
    li{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: nowrap;
      p{
        display: inline-block;
        width: 13%;
        &.description{
          width: 50%;
        }
        &.delete{
          width: 5%;
          padding-top: 40px;
          text-align: right;
          a{
            font-weight: $font_bold;
            font-size: to_rem(14);
            text-transform: uppercase;
            text-align: center;
            color: $violet;
            text-decoration: none;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }//p
    }//li
  }//ul.invoice-lines
  p.add-new{
    a{
      display: inline-block;
      text-transform: uppercase;
      font-weight: $font_bold;
      color: $violet;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }//p.add-new
  p.submit{
    margin-top: 60px;
  }
}//.page-content

.page-footer{
  background-color: $text_color;
  color: #fff;
  text-align: center;
  padding: 50px 0px;
  position: relative;
  &:before, &:after{
    display: block;
    content: "";
    width: 50%;
    height: 5px;
    position: absolute;
    top: 0px;
  }
  &:before{
    left: 0px;
    background: linear-gradient(90deg, $violet 0%, $violet 50%, $green 50%, $green 100%);
  }
  &:after{
    right: 0px;
    background: linear-gradient(90deg, $orange 0%, $orange 50%, $red 50%, $red 100%);
  }
  p{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: to_rem(20);
    text-transform: uppercase;
    font-weight: $font_bold;
    text-transform: uppercase;
    img{
      max-width: 150px;
      margin: 0px 25px;
      &.cuentica{

      }
      &.github{
        max-width: 100px;
      }
    }
  }//p
  p.powered{
    font-size: to_rem(16);
  }
}//.page-footer

/**
  LOGIN PAGE VARIATIONS
**/

.login{
  .page-content{
    text-align: center;
    padding: 80px 0px;
  }
}//.login

.invoices{

}//.invoices